<script setup lang="ts">
import {RouterLink, RouterView, useRouter} from 'vue-router'
import GinfraApp from './components/GinfraApp.vue'
</script>

<template>
  <div class="leftpane">
      <GinfraApp />
      <div>
        <nav>
          <RouterLink to="/">About</RouterLink><br>
          <RouterLink to="/user">User Information</RouterLink><br>
          <RouterLink to="/pet">Jack's Pet Store</RouterLink>
        </nav>
        <br>
        <a href="https://gitlab.com/ginfra" target="_blank">The GINFRA Project!</a><br>
        <a href="mailto://inquiries@ginfra.tech">inquiries@ginfra.tech</a><br>
      </div>
  </div>
  <div class="rightpane">
    <RouterView />
  </div>
</template>

<style scoped>
header {
  line-height: 1.5;
  max-height: 100vh;
}

nav {
  width: 100%;
  font-size: 12px;
  text-align: center;
  margin-top: 2rem;
}

nav a.router-link-exact-active {
  color: var(--color-text);
}

nav a.router-link-exact-active:hover {
  background-color: transparent;
}

nav a {
  display: inline-block;
  padding: 0 1rem;
  border-left: 1px solid var(--color-border);
}

nav a:first-of-type {
  border: 0;
}

@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }


  nav {
    text-align: left;
    margin-left: -1rem;
    font-size: 1rem;

    padding: 1rem 0;
    margin-top: 1rem;
  }
}
</style>
