
<script lang="ts">
export default {
}
</script>

<template>
  <div class="about">
    <div style="display: table-row">
      <div>Welcome to the second and more advanced demo application for ginfra.</div>
    </div>
  </div>
</template>

<style>
.about {
  display: table;
  background-color: lightcyan;
  padding: 5px;
  width: 100%;
  height: 600px;
}
</style>