

<script lang="ts">
import {LiveApiClientInfo} from "@/api/api_manager";
export default {
  methods: {
    LiveApiClientInfo() {
      return LiveApiClientInfo
    }
  }
}
</script>

<template>
  <div class="err">
    <div>
      Error initializing.
    </div>
    <div>
      {{LiveApiClientInfo().serverFault}}
    </div>
  </div>
</template>

<style>
.err {
  background-color: darksalmon;
}

</style>