
<script lang="ts">
import {getUserInfo, LiveApiClientInfo, type userstateinfo} from "@/api/api_manager";
import {useRouter} from "vue-router";

export default {
  methods: {
    LiveApiClientInfo() {
      if (LiveApiClientInfo.serverFault != "") {
        useRouter().push("/error")
      }
      return LiveApiClientInfo
    }
  },
  data() {
    const fault: string = ""
    return {
      fault: fault,
    }
  }
}
</script>

<template>
    <div v-if="LiveApiClientInfo()">
    </div>
    <div class="toplevel">
      <div><img alt="ginfra" src="@/assets/ginfra.png"><h5>Application and environment.</h5></div>
      <h3>
        Where developer platforms come to play.
      </h3>
    </div>
</template>

<style scoped>
h1 {
  font-weight: 500;
  font-size: 2.6rem;
  position: relative;

  top: -10px;
}

h3 {
  font-size: 1.2rem;
}

.toplevel h1,
.toplevel h3 {
  text-align: center;
}

@media (min-width: 1024px) {
  .toplevel h1,
  .toplevel h3 {
    text-align: left;
  }
}
</style>
