
<template>
  <div class="petfetch">
    <div style="display: table-row">
      <div class="petleft">
          <h2>JACK'S PET STORE</h2>
        <img alt="jack" src="@/assets/jack.jpeg">
      </div>
      <div v-if="LiveApiClientInfo().serverFault" class="petright">
          <h2>Service unavailable.</h2>
          <pre>{{ LiveApiClientInfo().serverFault }}</pre>
      </div>
      <div v-else class="petright">
        <div v-if="serviceerror">
          <h2>Service Error</h2>
          <p>Service is inoperable.</p>
          <pre>{{ serviceerror }}</pre>
        </div>
        <div v-else>
          Pick the kind of pet you want and Jack will give you a finely curated pet.
          <form @submit.prevent="submitForm">
            <span>Pet type</span><br>
            <select v-model="petinfo.pettype">
              <option value="cat" selected>Cat</option>
              <option value="dog">Dog</option>
              <option value="llama">Llama</option>
            </select>
            <button class="doit" type="submit">Get Pet</button>
          </form>
        </div>
        <div class="results" v-if="submitted && !serviceerror">
          <p>Pet Type: {{ petinfo.pettype }}</p>
          <p>Pet Breed: {{ petinfo.breed }}</p>
          <p>Error: {{ petstate.error }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import App from "@/App.vue";
import {type petinfo as gipetinfo, pettype} from "@/api/gipet";
import {getPet, LiveApiClientInfo, type petstateinfo} from "@/api/api_manager";
import {useRouter} from "vue-router";

export default {
  components: {App},
  data() {
    const petinfo: gipetinfo = { pettype: pettype.CAT}
    const petstate: petstateinfo = {}
    return {
      petinfo: petinfo,
      petstate: petstate,
      reqerror: "",
      submitted: false,
      serviceerror: "",
    };
  },
  methods: {
    LiveApiClientInfo() {
      if (LiveApiClientInfo.serverFault != "") {
        useRouter().push("/error")
      }
      return LiveApiClientInfo
    },
    submitForm(){
      getPet(this.petinfo, this.petstate)
      this.submitted = true
    }
  },
}

</script>
<style>
form {
  padding: 5px;
  border: 1px solid black;
  border-radius: 3px;
}

input {
  padding: 4px 8px;
  margin: 4px;
}

span {
  font-size: 18px;
  margin: 4px;
  font-weight: 500;
}

.doit {
  font-size: 16px
}

.results {
  font-weight: 150;
}

.petfetch {
  background-color: cadetblue;
  display: table;
  width: 100%;
  padding: 5px;
  height: 600px;
}

.petleft {
  display: table-cell;
  text-align: center;
  width: 270px;
}

.petright {
  display: table-cell;
}

</style>