
<template>
  <div class="userfetch">
    <div style="display: table-row">
      <div v-if="LiveApiClientInfo().serverFault">
          <h2>Service unavailable.</h2>
          <pre>{{ LiveApiClientInfo().serverFault }}</pre>
      </div>
      <div v-else>
        <div>
          <h2>Fetch User Information</h2>
          The following user names are known: 'bob' and 'jack'
        </div>
        <div v-if="serviceerror">
          <h2>Service Error</h2>
          <p>Service is inoperable.</p>
          <pre>{{ serviceerror }}</pre>
        </div>
        <div v-else>
          <form @submit.prevent="submitForm">
            <span>Username</span><br>
            <input
                class="inputusername"
                v-model="userinfo.username"
                type="text"
                placeholder="Enter the username to fetch"
            /><br>
            <button class="doit" type="submit">Fetch</button>
          </form>
        </div>
        <div class="results" v-if="submitted && !serviceerror">
          <p>Username: {{ userinfo.username }}</p>
          <p>Firstname: {{ userinfo.firstname }}</p>
          <p>Lastname: {{ userinfo.lastname }}</p>
          <p>Coins in bank: {{ userinfo.coins }}</p>
          <p>Error: {{ userstateinfo.error }}</p>
        </div>
        <div>
          <br>Service name: {{ servicename }}
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import App from "@/App.vue";
import type {userinfov2 as giuserinfo} from "@/api/giuser";
import {getUserInfo, LiveApiClientInfo, type userstateinfo} from "@/api/api_manager";
import {useRouter} from "vue-router";

export default {
  components: {App},
  data() {
    const giu: giuserinfo = {}
    const ustate: userstateinfo = {}
    return {
      userinfo: giu,
      userstateinfo: ustate,
      reqerror: "",
      submitted: false,
      serviceerror: "",
      servicename: import.meta.env.VITE_GINFRA_NAME
    };
  },
  methods: {
    LiveApiClientInfo() {
      if (LiveApiClientInfo.serverFault != "") {
        useRouter().push("/error")
      }
      return LiveApiClientInfo
    },
    submitForm(){
      getUserInfo(this.userinfo, this.userstateinfo)
      this.submitted = true
    }
  },
}

</script>
<style>
form {
  padding: 5px;
  border: 1px solid black;
  border-radius: 3px;
}

input {
  padding: 4px 8px;
  margin: 4px;
}

span {
  font-size: 18px;
  margin: 4px;
  font-weight: 500;
}

.doit {
  font-size: 16px
}

.inputusername {
  font-weight: 200;
  width: 300px;
}

.results {
  font-weight: 150;
  border: medium darkblue;
}

.userfetch {
  background-color: bisque;
  display: table;
  width: 100%;
  padding: 5px;
  height: 600px;
}

</style>