
<template>
  <div v-if="LiveApiClientInfo().serverFault">
      <h2>Service unavailable.</h2>
      <pre>{{ LiveApiClientInfo().serverFault }}</pre>
  </div>
  <div v-else>
    <div v-if="serviceerror">
      <h2>Service Error</h2>
      <p>Service is inoperable.</p>
      <pre>{{ serviceerror }}</pre>
    </div>
    <div v-else>
      <form @submit.prevent="submitForm">
        <span>Username</span><br>
        <input
            class="inputusername"
            v-model="userinfo.username"
            type="text"
            placeholder="Enter the username to fetch"
        /><br>
        <button class="doit" type="submit">Fetch</button>
      </form>
    </div>
    <div class="results" v-if="submitted && !serviceerror">
      <p>Username: {{ userinfo.username }}</p>
      <p>Firstname: {{ userinfo.firstname }}</p>
      <p>Lastname: {{ userinfo.lastname }}</p>
      <p>Error: {{ userstateinfo.error }}</p>
    </div>

  </div>
  <div>
    Service name: {{ servicename }}
  </div>
</template>

<script lang="ts">
import {type userstateinfo, getUserInfo, LiveApiClientInfo} from "@/api/api_manager"
import {type userinfov2 as giuserinfo} from "@/api/giuser/models/userinfov2"
import App from "@/App.vue"
export default {
  components: {App},
  data() {
    const giu: giuserinfo = {}
    const ustate: userstateinfo = {}
    return {
      userinfo: giu,
      userstateinfo: ustate,
      reqerror: "",
      submitted: false,
      serviceerror: "",
      servicename: import.meta.env.VITE_GINFRA_NAME
    };
  },
  methods: {
    LiveApiClientInfo() {
      return LiveApiClientInfo
    },
    submitForm(){
      getUserInfo(this.userinfo, this.userstateinfo)
      this.submitted = true
    }
  },
}
</script>
<style>
form {
  padding: 5px;
  border: 1px solid black;
  border-radius: 3px;
}

input {
  padding: 4px 8px;
  margin: 4px;
}

span {
  font-size: 18px;
  margin: 4px;
  font-weight: 500;
}

.doit {
  font-size: 16px
}

.inputusername {
  font-weight: 200;
}

.results {
  font-weight: 150;
}

</style>