@import './base.css';

#app {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: flex;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

@media (min-width: 1024px) {
  .rightpane {
    display: flow;
    align-items: center;
    width: 750px;
    height: 100%;
  }
  .leftpane {
    display: flow;
    align-items: center;
    width: 250px;
    height: 100%;
  }
}

